@import '~materialize-css/sass/materialize';
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

header {
  padding-top: 1rem;

  p {
    margin-bottom: 0;
    margin-top: 0;
  }
}

header,
.page-footer {
  @extend .blue-grey;
  @extend .lighten-2;

  label {
    @extend .white-text;
  }

  a {
    @extend .grey-text;
    @extend .text-lighten-4;

    text-decoration: underline;
  }
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.tone {
  @extend .grey;
  @extend .white-text;

  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  font-size: medium;

  &.root {
    @extend .red;
  }
}

.dot .material-icons {
  font-size: small;
}
