@import '~materialize-css/sass/materialize';
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

header {
  padding-top: 1rem;

  p {
    margin-bottom: 0;
    margin-top: 0;
  }
}

header,
.page-footer {
  @extend .blue-grey;
  @extend .lighten-2;

  label {
    @extend .white-text;
  }

  a {
    @extend .grey-text;
    @extend .text-lighten-4;

    text-decoration: underline;
  }
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  padding: 1rem 0;
}

.fretboard > div {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;

  > div {
    flex-basis: 30px;
    padding: 15px 5px;
    text-align: center;

    &.dot {
      flex-basis: auto;
    }
  }
}

.string,
.dots {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.tone {
  @extend .grey;
  @extend .white-text;

  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  font-size: medium;

  &.root {
    @extend .red;
  }

  &:not(.root):not(.chord) {
    @extend .lighten-1;
  }
}

.dot .material-icons {
  font-size: small;
}
